/* @define-color foreground #c2c3c4; */
/* @define-color background #0C1213; */
/* @define-color cursor #c2c3c4; */

/* @define-color color0 #0C1213; */
/* @define-color color1 #4B535B; */
/* @define-color color2 #685F5D; */
/* @define-color color3 #535A62; */
/* @define-color color4 #6A6564; */
/* @define-color color5 #936F5F; */
/* @define-color color6 #AF755B; */
/* @define-color color7 #c2c3c4; */
/* @define-color color8 #59676c; */
/* @define-color color9 #4B535B; */
/* @define-color color10 #685F5D; */
/* @define-color color11 #535A62; */
/* @define-color color12 #6A6564; */
/* @define-color color13 #936F5F; */
/* @define-color color14 #AF755B; */
/* @define-color color15 #c2c3c4; */


@define-color background #191724;
@define-color foreground #c5c9c5;
@define-color selection_background #2D4F67;
@define-color selection_foreground #C8C093;
@define-color url_color #72A7BC;
@define-color cursor #C8C093;
@define-color active_foreground #C8C093;
@define-color inactive_tab_background  #12120f;
@define-color inactive_foreground #a6a69c;
@define-color color0 #0d0c0c;
@define-color color1 #c4746e;
@define-color color2 #8a9a7b;
@define-color color3 #c4b28a;
@define-color color4 #8ba4b0;
@define-color color5 #a292a3;
@define-color color6 #8ea4a2;
@define-color color7 #C8C093;
