@import url('./colors-waybar.css');

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Maple Mono";
    font-weight: 700;
    font-size: 18px;
    border: none;
    min-height: 0;
    margin: 0px 4px;
  }

window#waybar {
    /* background-color: @background; */
    background-color: #141415;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}



.modules-right,
.modules-left,
.modules-center {
    background-color: #141415;
    border-radius: 2px;
    padding: 4px 10px;
	margin: 0px;
    color: #cdcdcd;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* box-shadow: inset 0 -3px #ffffff; */
  text-shadow: 0px 0px 1.5px rgba(0,0,0,0.5)
}

#pulseaudio:hover,
#language:hover,
#clock:hover,
#tray:hover,
#memory:hover,
#custom-pacman:hover,
#network:hover,
#cpu:hover,
#battery:hover,
#backlight:hover,
#bluetooth:hover,
#mpris:hover,
#custom-notification:hover,
#custom-power:hover,
#custom-menu:hover
{
    transition: all .2s ease-in;
    color: rgba(255,255,255,1);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}


#pulseaudio,
#language,
#clock,
#tray,
#memory,
#network,
#cpu,
#battery,
#backlight,
#bluetooth,
#mpris,
#custom-power,
#custom-pacman
{
  min-height: 0;
  border-radius: 6px;
  padding: 0 8px;

  border: 1px #252530 solid;
  color: #cdcdcd;
}

#workspaces button {
  /* all: unset; */
	color: white;
    padding: 0 5px;
    min-width: 30px;
    background-color: transparent;
	transition: all 0.1s;
    /* color: @color3; */
}

#workspaces button:hover {
  /* background: rgba(0, 0, 0, 0.2); */
  /* color: @inactive_foreground; */
  text-shadow: 0px 0px 3.5px rgba(255,255,255, 1);
}

#workspaces button.active {
    /* color: @active_foreground; */
	background-color: #252530;
    border-radius: 4px;
	transition: all 0.1s;
    min-width: 60px;
    /* background-color: #64727D; */
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    color: #eb6f92;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#window,
#workspaces {
    padding: 0 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}


#custom-power {
  color: @foreground;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}


#group-hardware {
    background-color: rgb(255,255,255);
    padding: 0px 100px;
    transition: all .3s ease; 
}

#custom-separator {
  color: #ffffff;
  font-size: 18px;
  opacity: 0.2;
}

#custom-expand{
    padding: 0px 5px;
    color:alpha(@foreground,.2);
    color: rgba(122,122,122,1);
    transition: all .3s ease; 
}
#custom-expand:hover{
    color: rgba(255,255,255,1);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}

